<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/product', product.id]"
    routerLinkActive="router-link-active">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <div>
    <button (click)="share()"> Share </button>

    <button [routerLink]="['/product', product.id]" > More </button>

  </div>
 
  <app-product-alert 
  [item]="product"
  (notification)="onNotify()">
  </app-product-alert>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->